.alert-fixed {
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);

  z-index: 8000;
}
.alert-fixed i {
  width: 350px;
  margin-top:50vh;
  margin-left: 50vw;
  z-index: 8000;
}
.hidden {
  visibility: hidden;
  display: none;
}